@keyframes slidesmooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.slider_container {
  max-width: 900px;
  height: 500px;
  margin: 100px auto;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  animation: slidesmooth ease-in 0.2s;
}

.slide.active {
  display: block;
}

.btn-slide {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  display: flex;
  justify-self: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.slide-title,
.slide-sub-title {
  position: absolute;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dots {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 1px #f1f1f1;
  background: transparent;
  margin: 0 10px;
}

.dot.active {
  background: rgb(32, 32, 32);
}
